# Default ignored files
/../../My bank system /.idea/shelf/
/../../My bank system /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../My bank system /.idea/httpRequests/
# Datasource local storage ignored files
/../../My bank system /.idea/dataSources/
/../../My bank system /.idea/dataSources.local.xml
